@{
    ViewData["Title"] = "Delete All Schedule Preferences";
}

<h1>Delete All Schedule Preferences</h1>

<h3>Are you sure you want to delete all schedule preferences?</h3>
<div>
    <form asp-action="DeleteAll">
        <input type="submit" value="Delete All" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
